body {
	background-color: white;
}
 
.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
}

/* the default fill for background is repeat
	repeat is in both x and y axis
	repeat-x only along x-axis
	repeat-y only along y axis
	none */	

.page-header{
	background: url(../img/header-background.png) repeat-x;
}

.hidden{
	display: none;
}

/* convert pt to pixel
	pt * 1.3333 = px
	48pt = 48 * 1.3333
	= 64px
*/

h2{
	font-size: 64px;
}

footer h3{
	font-size: 48px;
}

h2, h3{
	color: #0b777b;
	font-weight: bold;
}

section > p{
	color: #7f8c8c;
	font-size: 22px;
}

span{
	font-size: 18.6px;
	color: #378184;
	font-weight: bolder;
}

strong{
	color: black;
	font-weight: bold;
}

section footer img{
	vertical-align: middle;
}

section{
	margin-top: 70px;
}

section footer{
	margin-top: 24px;
}

section footer span{
	margin: 0 20px;
}

footer img{
	margin: 0 5px;
}

.footer-margin{
	margin: 100px 0;
}